<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">

      <h1>Create your account</h1>
      <p class="align"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe, voluptates
        reprehenderit eius inventore quae
        quam veritatis harum accusantium.
      </p>
      <div  class="flex">
        <div class="formGroup">
        <label>Email</label>
        <input type="email" class="formControl"  #userEmail required />
      </div>
      <div class="formGroup">
        <label>Password</label>
        <input type="password" class="formControl"  #userPwd required />
      </div>
    </div>
    <div class="flex">
    <div class="margin-auto padding">
      <span>
        <a routerLink="/authentication/login" class="link">signin instead</a></span>
    </div>
      <div class="margin-auto padding">
        <input type="button" class="next-btn" value="Next"
          (click)="authService.SignUp(userEmail.value, userPwd.value)" />
      </div>
    </div>
    </div>

    
  </div>
</div>