<div class="flex-row">
  <div class="marg">
    <div class="flex">
      <div class="radius">
        <div class="authBlock">
          <h1 class="login">Login to your account</h1>
          <div class="flex-column">
            <label for="userName" >Email Address </label>
            <input type="text" class="formControl"  #userName required class="text"/>
          </div>

          <div class="flex-column">
            <label for="userPassword" >Password </label>
            <input type="password" class="formControl" #userPassword required class="password"/>
          </div>

          <!-- Calling SignIn Api from AuthService -->
          <div class="flex-column">
            <button type="button" class="login-btn white" 
              (click)="authService.SignIn(userName.value, userPassword.value)">Log in
              </button>
          </div>

          <div class="flex-column">
            <h6><span>ou</span></h6>
          </div>

          <!-- Calling GoogleAuth Api from AuthService -->
          <div class="flex-column">
            <button type="button" class="google-btn white" (click)="authService.GoogleAuth()">
              <i class="fab fa-google-plus-g"></i>
              Connect with Google
            </button>
          </div>

        </div>

        <div class="redirectToLogin">
          <span>Don't have an account?<a class="redirect" routerLink="/authentication/register">
              Sign Up</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="design">
    <div class="flex-column">
      <img src="../../../assets/Group 1741.png" class="bottom" />

      <p class="align"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe, voluptates
        reprehenderit eius inventore quae
        quam veritatis harum accusantium.
      </p>
      <div class="maut">
        <img src="../../../assets/app store.png" class="width" />
        <img src="../../../assets/google play.png" class="width" />
      </div>
    </div>
  </div>
</div>