<div style="display:flex; flex-direction: row; background-color: #F0F2F7;">
  <div style="margin: auto;
  width:50%">
    <div style="display:flex">
      <div style="margin:auto; padding: 50px;
      background-color: #F9FAFC;
      text-align: center;
      border-radius: 12px;">
        <div class="authBlock">
          <h3 style="text-align: left; font-size:18pxs">Login to your account</h3>
          <div class="formGroup">
            <label for="userName">email address </label>
            <input type="text" class="formControl"  #userName required style=" margin-bottom: 10px;
            padding: 7px;
            border-color: gray;
            border-radius: 5px;
            "/>
          </div>

          <div class="formGroup">
            <label for="userPassword">password </label>
            <input type="password" class="formControl" #userPassword required style=" margin-bottom: 50px;
            padding: 7px;
            border-color: gray;
            border-radius: 5px;"/>
          </div>

          <!-- Calling SignIn Api from AuthService -->
          <div class="formGroup">
            <button type="button" class="login-btn white" 
              (click)="authService.SignIn(userName.value, userPassword.value)" 
              
              >Log in
              </button>
          </div>

          <div class="formGroup">
            <h6><span>ou</span></h6>
          </div>

          <!-- Calling GoogleAuth Api from AuthService -->
          <div class="formGroup">
            <button type="button" class="google-btn white" (click)="authService.GoogleAuth()">
              <i class="fab fa-google-plus-g"></i>
              Connect with Google
            </button>
          </div>

        </div>

        <div class="redirectToLogin">
          <span>Don't have an account?<a class="redirect" routerLink="/authentication/register">
              Sign Up</a></span>
        </div>
      </div>
    </div>
  </div>
  <div style="margin: 90px;
  width: 50%;">
    <div style="display: flex; flex-direction: column;">
      <img src="../../../assets/Group 1741.png" style="width: 85%; margin:auto; padding-bottom: 11px;" />

      <p style="text-align: center;"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe, voluptates
        reprehenderit eius inventore quae
        quam veritatis harum accusantium.
      </p>
      <div style="margin:auto;">
        <img src="../../../assets/app store.png" style=" margin: auto; 
    width: 110px;
    padding-right: 2.5px;
" />
        <img src="../../../assets/google play.png" style=" margin: auto;
        
    width: 110px;
    padding-left: 2.5px;
" />
      </div>
    </div>
  </div>
</div>